html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")

  body
    nav(class="navbar navbar-light bg-faded")
      a(class="navbar-brand" href="/") User Information Application
      ul.nav.navbar-nav.float-xs-right
        li
         form(class="form-inline")
          input(class="form-control" type="text" placeholder="Search")
          button(class="btn btn-outline-success" type="submit") Search
        li.nav-item
          a(class="navbar-text" href="/users") NEW USER
        li.nav-item
          a(class="navbar-text" href="/search") SEARCH

    block content
